<div class="container mt-5">

 
    <div class="intro">
        <p>Welcome to InfoIndia.com. Here we are providing current news to the audience about the events happening in India.
            One can choose the desired category and get the latest news.
        </p>
    </div>


    <!-- <img src="../../assets/"> -->

    <h3><u>Top Headings</u></h3>
    <div class="row">
        <div *ngFor="let d of topHeadingDisplay" class="col-lg-4 mt-4 mb-4">

            <div class="box">
                <img src="{{d.urlToImage}}" width="100%">
                <h5 class="mt-2 mb-2">{{d.title}}</h5>
                <!-- <p>{{d.content}}</p> -->
                <a href="{{d.url}}" target="_blank" class="btn btn-sm mt-2 innerbox">Read More</a>
            </div>
        </div>
    </div>
</div>
